
asgiref             == 3.8.1
Django              == 5.1.1
django-redis        == 5.4.0
djangorestframework == 3.15.2
drf-yasg            == 1.21.7
inflection          == 0.5.1
packaging           == 24.1
pip                 == 23.2.1
Pygments            == 2.18.0
pytz                == 2024.2
PyYAML              == 6.0.2
redis               == 5.0.8
setuptools          == 75.1.0
sqlparse            == 0.5.1
tzdata              == 2024.1
uritemplate         == 4.1.1
